<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <!-- 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/view/login.js}"></script>
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center mb-4 font-weight-bold">로그인</h2>
                            <form th:action="@{/login}" method="post" contentType="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label for="email">이메일(아이디)</label>
                                    <input type="text" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="passwd">Password</label>
                                    <input type="password" class="form-control" id="passwd" name="passwd" required>
                                </div>
                                <!-- <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                                    <label class="form-check-label" for="rememberMe">ID 기억하기</label>
                                </div> -->
                                <div class="row justify-content-between">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-secondary" id="signupBtn">회원가입</button>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button type="submit" class="btn btn-primary">확인</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>