<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <!-- 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/view/register.js}"></script>
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center mb-4 font-weight-bold">회원가입</h2>
                            <form th:action="@{/register}" method="post" contentType="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label for="email">이메일(아이디)</label>
                                    <input type="text" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="passwd">비밀번호</label>
                                    <input type="password" class="form-control" id="passwd" name="passwd" required>
                                </div>
                                <div class="form-group">
                                    <label for="passwd">비밀번호 확인</label>
                                    <input type="password" class="form-control" id="confirm_passwd" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">이름</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="age">나이</label>
                                    <input type="text" class="form-control" id="age" name="age" required>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-danger" id="loginBtn">뒤로가기</button>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button type="submit" class="btn btn-primary">확인</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>